docs/schema/nrml_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://opengem.org/xmlns/shaml/0.1"
	xmlns:shaml="http://opengem.org/xmlns/shaml/0.1"
	xmlns:gml="http://www.opengis.net/gml/profile/sfgml/1.0" elementFormDefault="qualified">
	<!-- import -->
	<xs:import namespace="http://www.opengis.net/gml/profile/sfgml/1.0"
		schemaLocation="./GML-SimpleFeaturesProfileSchema.xsd"/>
	<!-- schemaLocation="./gml.xsd"/> -->
	<xs:include schemaLocation="nrml_common.xsd"/>
	<xs:complexType name="CurveType">
		<xs:all>
			<xs:element name="Values" type="gml:doubleList"/>
			<xs:element minOccurs="0" ref="gml:pos"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="HazardEventType">
		<xs:all>
			<xs:element name="source" type="gml:PointType"/>
		</xs:all>
		<xs:attribute name="averageRake">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive fixed="true" value="0.0"/>
					<xs:maxInclusive fixed="true" value="+360.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="magnitude" type="xs:double"/>
	</xs:complexType>

	<!-- TODO Type of equation? -->
	<xs:complexType name="IMRDataType">
		<xs:attribute name="component">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Average Horizontal"/>
					<xs:enumeration value="GMRotI50"/>
					<xs:enumeration value="Random Horizontal"/>
					<xs:enumeration value="Greater of Two Horz"/>
					<xs:enumeration value="Vertical"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IMT">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PGA"/>
					<xs:enumeration value="PGD"/>
					<xs:enumeration value="PGV"/>
					<xs:enumeration value="SA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="period" type="xs:double"/>
		<xs:attribute name="damping" type="xs:double"/>
		<xs:attribute name="truncationType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="None"/>
					<xs:enumeration value="1 Sided"/>
					<xs:enumeration value="2 Sided"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="truncationLevel" type="xs:int"/>
		<xs:attribute name="stdType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Total"/>
					<xs:enumeration value="Inter-Event"/>
					<xs:enumeration value="Intra-Event"/>
					<xs:enumeration value="None"/>
					<xs:enumeration value="Total (Mag Dependent)"/>
					<xs:enumeration value="Total (PGA Dependent)"/>
					<xs:enumeration value="Total"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vs30" type="xs:double"/>
	</xs:complexType>
	
	<xs:complexType name="HazardGroundMotionSiteType">
		<xs:all>
			<xs:element name="site" type="gml:PointType"/>
		</xs:all>
		<xs:attribute name="groundMotion" type="xs:double"/>
	</xs:complexType>
	
	<xs:complexType name="HazardGroundMotionFieldType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="site" type="shaml:HazardGroundMotionSiteType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HazardShakeMapType">
		<xs:sequence>
			<xs:element name="event" type="shaml:HazardEventType"/>
			<xs:element name="IMR" type="shaml:IMRDataType"/>
			<xs:element name="field" type="shaml:HazardGroundMotionFieldType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Curve" type="shaml:CurveType"/>
	<xs:element name="LossCurve" type="shaml:CurveType"/>
	<xs:element name="LossCurvePE" type="shaml:CurveType"/>
	<xs:element name="LossRatioCurvePE" type="shaml:CurveType"/>
	<xs:element name="LossRatioCurve" type="shaml:CurveType"/>
	<xs:element name="HazardCurve" type="shaml:CurveType"/>
	<xs:element name="HazardCurvePGA" type="shaml:CurveType"/>
	<xs:element name="HazardShakeMap" type="shaml:HazardShakeMapType"/>
	<xs:complexType name="CurveListType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice>
				<xs:element ref="shaml:Curve"/>
				<xs:element ref="shaml:LossCurve"/>
				<xs:element ref="shaml:LossRatioCurve"/>
				<xs:element ref="shaml:HazardCurve"/>
				<xs:element ref="shaml:IMLValues"/>
			</xs:choice>
		</xs:sequence>
		<xs:anyAttribute namespace="##any" processContents="lax"/>
	</xs:complexType>
	<xs:element name="Config"/>
	<xs:element name="IMLValues" type="gml:doubleList"/>
	<xs:element name="LossCurveList" type="shaml:CurveListType"/>
	<xs:element name="LossRatioCurveList" type="shaml:CurveListType"/>
	<xs:element name="HazardCurveList" type="shaml:CurveListType"/>
	<xs:element name="RiskResult">
		<xs:complexType>
			<xs:sequence minOccurs="1">
				<xs:element ref="shaml:Config"/>
				<xs:choice>
					<xs:element ref="shaml:LossCurveList"/>
					<xs:element ref="shaml:LossRatioCurveList"/>
				</xs:choice>
				<xs:choice>
					<xs:element ref="shaml:LossCurvePE"/>
					<xs:element ref="shaml:LossRatioCurvePE"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HazardResult">
		<xs:complexType>
			<xs:sequence minOccurs="1">
				<xs:element ref="shaml:Config"/>
				<xs:choice>
					<xs:sequence maxOccurs="unbounded">
						<xs:element ref="shaml:HazardCurveList"/>
					</xs:sequence>
					<!-- TODO Is it correct to have one shakemap per document? -->
					<xs:element ref="shaml:HazardShakeMap"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="endBranchLabel" type="xs:string"/>
</xs:schema>