docs/schema/nrml_seismic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gml="http://www.opengis.net/gml"
           xmlns:nrml="http://openquake.org/xmlns/nrml/0.1"
           xmlns="http://openquake.org/xmlns/nrml/0.1"
           targetNamespace="http://openquake.org/xmlns/nrml/0.1"
           elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation xml:lang="en">Schema describing the XML structure of files containing information pertinent with the creation of ERF.
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://www.opengis.net/gml" schemaLocation="./gmlsf.xsd"/>
    <xs:include schemaLocation="nrml_common.xsd"/>

    <!-- ============================================================= -->

    <xs:simpleType name="Strike">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="360.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Dip">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="90.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Rake">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-180.0"/>
            <xs:maxInclusive value="+180.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TectonicRegion">
        <xs:restriction base="xs:string">
            
            <!-- NOTE: made enum values lowercase and removed whitespace, in order
                 to match style of other enums -->
            <xs:enumeration value="active_shallow_crust"/>
            <xs:enumeration value="stable_shallow_crust"/>
            <xs:enumeration value="subduction_interface"/>
            <xs:enumeration value="subduction_intra_slab"/>
            <xs:enumeration value="volcanic"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FocalMechanism">
        <xs:sequence>
            <xs:element name="strike" type="Strike"/>
            <xs:element name="dip" type="Dip"/>
            <xs:element name="rake" type="Rake"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TruncatedGutenbergRichter">
        <xs:sequence>
            <xs:element name="aValueCumulative" type="xs:double"/>
            <xs:element name="bValue" type="NonNegativeDoubleType"/>
            <xs:element name="minMagnitude" type="Magnitude"/>
            <xs:element name="maxMagnitude" type="Magnitude"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="magnitudeFrequencyDistribution" abstract="true"/>
    <xs:element name="truncatedGutenbergRichter" type="TruncatedGutenbergRichter"
        substitutionGroup="magnitudeFrequencyDistribution"/>
    <xs:element name="evenlyDiscretizedIncrementalMagFreqDist" type="EvenlyDiscretizedDist"
        substitutionGroup="magnitudeFrequencyDistribution"/>

    <xs:complexType name="RuptureRateModel">
        <xs:sequence>
            <xs:element ref="magnitudeFrequencyDistribution"/>
            <xs:element name="focalMechanism" type="FocalMechanism"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SourceData">
        <xs:sequence>
            <xs:element name="sourceName" type="xs:string"/>
            <xs:element name="sourceID" type="xs:string"/>
            <xs:element name="tectonicRegion" type="TectonicRegion"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SimpleFaultGeometry">
        <xs:sequence>
            <xs:element name="faultTrace" type="gml:LineStringType"/>
            <xs:element name="dip" type="nrml:Dip"/>
            <xs:element name="upperSeismogenicDepth" type="NonNegativeDoubleType"/>
            <xs:element name="lowerSeismogenicDepth" type="NonNegativeDoubleType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SimpleFaultSourceData">
        <xs:complexContent>
            <xs:extension base="SourceData">
                <xs:sequence>
                    <xs:element name="simpleFaultGeometry" type="SimpleFaultGeometry"/>
                    <xs:element name="rake" type="Rake"/>
                    <xs:element ref="magnitudeFrequencyDistribution"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ComplexFaultGeometry">
        <xs:sequence>
            <xs:element name="faultTopEdge" type="gml:LineStringType"/>
            <xs:element name="faultBottomEdge" type="gml:LineStringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ComplexFaultSourceData">
        <xs:complexContent>
            <xs:extension base="SourceData">
                <xs:sequence>
                    <xs:element name="complexFaultGeometry" type="ComplexFaultGeometry"/>
                    <xs:element name="rake" type="Rake"/>
                    <xs:element ref="magnitudeFrequencyDistribution"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AreaSourceData">
        <xs:complexContent>
            <xs:extension base="SourceData">
                <xs:sequence>
                    <xs:element name="areaBoundary" type="gml:PolygonType"/>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="ruptureRateModel" type="RuptureRateModel"/>
                    </xs:sequence>
                    <xs:element name="ruptureDepthDistribution" type="ArbitrarilyDiscretizedDist"/>
                    <xs:element name="hypocentralDepth" type="NonNegativeDoubleType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PointSourceData">
        <xs:complexContent>
            <xs:extension base="SourceData">
                <xs:sequence>
                    <xs:element name="pointLocation" type="gml:PointType"/>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="ruptureRateModel" type="RuptureRateModel"/>
                    </xs:sequence>
                    <xs:element name="ruptureDepthDistribution" type="ArbitrarilyDiscretizedDist"/>
                    <xs:element name="hypocentralDepth" type="NonNegativeDoubleType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- seismic source -->
    
    <xs:element name="seismicSource" abstract="true"/>
    <xs:element name="simpleFault" type="SimpleFaultSourceData" substitutionGroup="seismicSource"/>
    <xs:element name="complexFault" type="ComplexFaultSourceData" substitutionGroup="seismicSource"/>
    <xs:element name="area" type="AreaSourceData" substitutionGroup="seismicSource"/>
    <xs:element name="point" type="PointSourceData" substitutionGroup="seismicSource"/>

    <xs:element name="sourceModel" type="SourceModel"/>
    <xs:complexType name="SourceModel">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="seismicSource"/>
        </xs:sequence>
    </xs:complexType>

    <!-- rupture -->

    <xs:element name="rupture" type="Rupture" substitutionGroup="gml:_Feature" abstract="true"/>
    <xs:complexType name="Rupture">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="magnitude" type="Magnitude"/>
                    <xs:element name="tectonicRegion" type="TectonicRegion"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="pointRupture" type="PointRupture" substitutionGroup="rupture"/>
    <xs:complexType name="PointRupture">
        <xs:complexContent>
            <xs:extension base="Rupture">
                <xs:sequence>
                    <xs:element name="focalMechanism" type="FocalMechanism"/>
                    
                    <!-- TODO: use correct geospatial type -->
                    <xs:element name="hypocenterLocation" type="gml:PointType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="simpleFaultRupture" type="SimpleFaultRupture" substitutionGroup="rupture"/>
    <xs:complexType name="SimpleFaultRupture">
        <xs:complexContent>
            <xs:extension base="Rupture">
                <xs:sequence>
                    <xs:element name="rake" type="Rake"/>
                    
                    <!-- TODO: use correct geospatial type -->
                    <xs:element name="simpleFaultGeometry" type="SimpleFaultGeometry"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="complexFaultRupture" type="ComplexFaultRupture" substitutionGroup="rupture"/>
    <xs:complexType name="ComplexFaultRupture">
        <xs:complexContent>
            <xs:extension base="Rupture">
                <xs:sequence>
                    <xs:element name="rake" type="Rake"/>
                    
                    <!-- TODO: use correct geospatial type -->
                    <xs:element name="complexFaultGeometry" type="ComplexFaultGeometry"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="arbitrarilyComplexRupture" type="ArbitrarilyComplexRupture" substitutionGroup="rupture"/>
    <xs:complexType name="ArbitrarilyComplexRupture">
        <xs:complexContent>
            <xs:extension base="Rupture">
                <xs:sequence>
                    <xs:element name="rake" type="Rake"/>
                    <xs:element name="ruptureSurface" type="gml:SurfacePropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- logic tree -->
    
    <!-- TODO: rename attribute, name is too general for global attribute (make attribute local) -->
    <xs:attribute name="uncertaintyType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="gmpeModel"/>
                <xs:enumeration value="sourceModel"/>
                <xs:enumeration value="maxMagnitudeGutenbergRichterRelative"/>
                <xs:enumeration value="bValueGutenbergRichterRelative"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    
    <xs:complexType name="LogicTreeBranch">
        <xs:sequence>
            <xs:element name="uncertaintyModel" type="xs:string"/>
            <xs:element name="uncertaintyWeight" type="NonNegativeDoubleType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LogicTreeBranchSet">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="logicTreeBranch" type="LogicTreeBranch"/>
        </xs:sequence>
        <xs:attribute ref="uncertaintyType" use="required"/>
    </xs:complexType>

    <xs:complexType name="LogicTree">

        <xs:sequence maxOccurs="unbounded">
            <xs:element name="logicTreeBranchSet" type="LogicTreeBranchSet"/>
        </xs:sequence>
        <xs:attribute name="tectonicRegion" type="TectonicRegion"/>
    </xs:complexType>
    
    <xs:complexType name="LogicTreeSet">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="logicTree" type="LogicTree"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="logicTreeSet" type="LogicTreeSet"></xs:element>

</xs:schema>
