docs/schema/nrml_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://opengem.org/xmlns/shaml/0.1"
	xmlns:shaml="http://opengem.org/xmlns/shaml/0.1"
	xmlns:gml="http://www.opengis.net/gml/profile/sfgml/1.0" elementFormDefault="qualified">
	<!-- import -->
	<xs:import namespace="http://www.opengis.net/gml/profile/sfgml/1.0"
		schemaLocation="./GML-SimpleFeaturesProfileSchema.xsd"/>
	<!-- schemaLocation="./gml.xsd"/> -->
	<xs:include schemaLocation="nrml_common.xsd"/>
	<!-- -->
	<xs:complexType name="CurveType">
		<xs:all>
			<xs:element name="Values" type="gml:doubleList"/>
			<xs:element minOccurs="0" ref="gml:pos"/>
		</xs:all>
	</xs:complexType>

	<xs:element name="Curve" type="shaml:CurveType"/>
	<xs:element name="LossCurve" type="shaml:CurveType"/>
	<xs:element name="LossCurvePE" type="shaml:CurveType"/>
	<xs:element name="LossRatioCurvePE" type="shaml:CurveType"/>
	<xs:element name="LossRatioCurve" type="shaml:CurveType"/>
	<xs:element name="HazardCurve" type="shaml:CurveType"/>
	<xs:element name="HazardCurvePGA" type="shaml:CurveType"/>
	<xs:complexType name="CurveListType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice>
				<xs:element ref="shaml:Curve"/>
				<xs:element ref="shaml:LossCurve"/>
				<xs:element ref="shaml:LossRatioCurve"/>
				<xs:element ref="shaml:HazardCurve"/>
				<xs:element ref="shaml:IMLValues"/>
			</xs:choice>
		</xs:sequence>
		<xs:anyAttribute namespace="##any" processContents="lax"/>
	</xs:complexType>
	<xs:element name="Config"/>
	<xs:element name="IMLValues" type="gml:doubleList"/>
	<xs:element name="LossCurveList" type="shaml:CurveListType"/>
	<xs:element name="LossRatioCurveList" type="shaml:CurveListType"/>
	<xs:element name="HazardCurveList" type="shaml:CurveListType"/>
	<xs:element name="RiskResult">
		<xs:complexType>
			<xs:sequence minOccurs="1">
				<xs:element ref="shaml:Config"/>
				<xs:choice>
					<xs:element ref="shaml:LossCurveList"/>
					<xs:element ref="shaml:LossRatioCurveList"/>
				</xs:choice>
				<xs:choice>
					<xs:element ref="shaml:LossCurvePE"/>
					<xs:element ref="shaml:LossRatioCurvePE"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HazardResult">
		<xs:complexType>
			<xs:sequence minOccurs="1">
				<xs:element ref="shaml:Config"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="shaml:HazardCurveList"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="endBranchLabel" type="xs:string"/>
</xs:schema>