docs/schema/nrml_seismic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://openquake.org/xmlns/nrml/0.1"
    xmlns:nrml="http://openquake.org/xmlns/nrml/0.1"
    xmlns:gml="http://www.opengis.net/gml/profile/sfgml/1.0">

    <!-- include common types-->
    <xs:annotation>
        <xs:documentation xml:lang="en">Schema describing the XML structure of files containing information pertinent with the creation of ERF.
        </xs:documentation>
    </xs:annotation>
    <!-- -->

    <!-- import -->
    <xs:import namespace="http://www.opengis.net/gml/profile/sfgml/1.0"
        schemaLocation="./GML-SimpleFeaturesProfileSchema.xsd"/>
    <xs:include schemaLocation="nrml_common.xsd"/>
    <!-- -->
    
    <xs:simpleType name="strikeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="360.0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="dipType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="90.0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="rakeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-180.0"/>
            <xs:maxInclusive value="+180.0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="tectonicRegionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active Shallow Crust"/>
            <xs:enumeration value="Stable Shallow Crust"/>
            <xs:enumeration value="Subduction Interface"/>
            <xs:enumeration value="Subduction IntraSlab"/>
            <xs:enumeration value="Volcanic"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="positiveDoubleType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="focalMechanismType">
        <xs:sequence>
            <xs:element name="strike" type="nrml:strikeType"></xs:element>
            <xs:element name="dip" type="nrml:dipType"></xs:element>
            <xs:element name="rake" type="nrml:rakeType"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="truncatedGutenbergRichterType">
        <xs:sequence>
            <xs:element name="aValueCumulative" type="xs:double"></xs:element>
            <xs:element name="bValue" type="nrml:positiveDoubleType"></xs:element>
            <xs:element name="minMagnitude" type="nrml:positiveDoubleType"></xs:element>
            <xs:element name="maxMagnitude" type="nrml:positiveDoubleType"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="evenlyDiscretizedIncrementalMagFreqDistType">
        <xs:sequence>
            <xs:element name="minMagnitude" type="nrml:positiveDoubleType"></xs:element>
            <xs:element name="maxMagnitude" type="nrml:positiveDoubleType"></xs:element>
            <xs:element name="numValues">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="occurrenceRates" type="gml:doubleList"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="magnitudeFrequencyDistribution" abstract="true"></xs:element>
    <xs:element name="truncatedGutenbergRichter" type="nrml:truncatedGutenbergRichterType" substitutionGroup="nrml:magnitudeFrequencyDistribution"></xs:element>
    <xs:element name="evenlyDiscretizedIncrementalMagFreqDist" type="nrml:evenlyDiscretizedIncrementalMagFreqDistType" substitutionGroup="nrml:magnitudeFrequencyDistribution"></xs:element>
    
    <xs:complexType name="ruptureRateModelType">
        <xs:sequence>
            <xs:element ref="nrml:magnitudeFrequencyDistribution"/>
            <xs:element name="focalMechanism" type="nrml:focalMechanismType"/>
            <xs:element name="ruptureDepthDistribution" type="gml:doubleList"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sourceDataType">
        <xs:sequence>
            <xs:element name="sourceName" type="xs:string"/>
            <xs:element name="sourceID" type="xs:string"/>
            <xs:element name="tectonicRegion" type="nrml:tectonicRegionType"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="simpleFaultGeometryType">
        <xs:sequence>
            <xs:element name="faultTrace" type="gml:doubleList"/>
            <xs:element name="dip" type="nrml:dipType"></xs:element>
            <xs:element name="upperSeismogenicDepth" type="nrml:positiveDoubleType"></xs:element>
            <xs:element name="lowerSeismogenicDepth" type="nrml:positiveDoubleType"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="simpleFaultSourceDataType">
        <xs:complexContent>
            <xs:extension base="nrml:sourceDataType">
                <xs:sequence>
                    <xs:element name="simpleFaultGeometry" type="nrml:simpleFaultGeometryType"></xs:element>
                    <xs:element name="rake" type="nrml:rakeType"></xs:element>
                    <xs:element ref="nrml:magnitudeFrequencyDistribution"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="complexFaultGeometryType">
        <xs:sequence>
            <xs:element name="faultTopEdge" type="gml:doubleList"/>
            <xs:element name="faultBottomEdge" type="gml:doubleList"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="complexFaultSourceDataType">
        <xs:complexContent>
            <xs:extension base="nrml:sourceDataType">
                <xs:sequence>
                    <xs:element name="complexFaultGeometry" type="nrml:complexFaultGeometryType"></xs:element>
                    <xs:element name="rake" type="nrml:rakeType"></xs:element>
                    <xs:element ref="nrml:magnitudeFrequencyDistribution"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="areaSourceDataType">
        <xs:complexContent>
            <xs:extension base="nrml:sourceDataType">
                <xs:sequence>
                    <xs:element name="areaBoundary" type="gml:doubleList"/>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="ruptureRateModel" type="nrml:ruptureRateModelType"/>
                    </xs:sequence>
                    <xs:element name="hypocentralDepth" type="nrml:positiveDoubleType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="pointSourceDataType">
        <xs:complexContent>
            <xs:extension base="nrml:sourceDataType">
                <xs:sequence>
                    <xs:element name="pointLocation" type="gml:doubleList"/>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="ruptureRateModel" type="nrml:ruptureRateModelType"/>
                    </xs:sequence>
                    <xs:element name="hypocentralDepth" type="nrml:positiveDoubleType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="seismicSource" abstract="true"/>
    <xs:element name="simpleFault" type="nrml:simpleFaultSourceDataType"
        substitutionGroup="nrml:seismicSource"/>
    <xs:element name="complexFault" type="nrml:complexFaultSourceDataType"
        substitutionGroup="nrml:seismicSource"/>
    <xs:element name="area" type="nrml:areaSourceDataType" substitutionGroup="nrml:seismicSource"/>
    <xs:element name="point" type="nrml:pointSourceDataType" substitutionGroup="nrml:seismicSource"/>

    <xs:complexType name="sourceModelType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="nrml:seismicSource"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="sourceModel" type="nrml:sourceModelType"></xs:element>
    
    <xs:complexType name="ruptureType">
        <xs:sequence>
            <xs:element name="magnitude" type="nrml:positiveDoubleType"></xs:element>
            <xs:element name="tectonicRegionType" type="nrml:tectonicRegionType"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="pointRuptureType">
        <xs:complexContent>
            <xs:extension base="nrml:ruptureType">
                <xs:sequence>
                    <xs:element name="focalMechanism" type="nrml:focalMechanismType"></xs:element>
                    <xs:element name="hypocenterLocation" type="gml:PointType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="simpleFaultRuptureType">
        <xs:complexContent>
            <xs:extension base="nrml:ruptureType">
                <xs:sequence>
                    <xs:element name="simpleFaultGeometry" type="nrml:simpleFaultGeometryType"></xs:element>
                    <xs:element name="rake" type="nrml:rakeType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="complexFaultRuptureType">
        <xs:complexContent>
            <xs:extension base="nrml:ruptureType">
                <xs:sequence>
                    <xs:element name="complexFaultGeometry" type="nrml:complexFaultGeometryType"></xs:element>
                    <xs:element name="rake" type="nrml:rakeType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="arbitrarilyComplexRuptureType">
        <xs:complexContent>
            <xs:extension base="nrml:ruptureType">
                <xs:sequence>
                    <xs:element ref="gml:Surface"/>
                    <xs:element name="rake" type="nrml:rakeType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="rupture" abstract="true"/>
    <xs:element name="pointRupture" type="nrml:pointRuptureType"
        substitutionGroup="nrml:rupture"/>
    <xs:element name="simpleFaultRupture" type="nrml:simpleFaultRuptureType"
        substitutionGroup="nrml:rupture"/>
    <xs:element name="complexFaultRupture" type="nrml:complexFaultRuptureType"
        substitutionGroup="nrml:rupture"/>    
    <xs:element name="arbitrarilyComplexRupture" type="nrml:arbitrarilyComplexRuptureType"
        substitutionGroup="nrml:rupture"/>
    
    <xs:attribute name="uncertaintyType">
        <xs:simpleType>        
            <xs:restriction base="xs:string">
            <xs:enumeration value="gmpeModel"/>    
            <xs:enumeration value="sourceModel"/>
            <xs:enumeration value="maxMagnitudeGutenbergRichterRelative"/>
            <xs:enumeration value="bValueGutenbergRichterRelative"/>
        </xs:restriction></xs:simpleType>
    </xs:attribute>
    
    <xs:complexType name="logicTreeBranchType">
        <xs:sequence>
            <xs:element name="uncertaintyModel" type="xs:string"></xs:element>
            <xs:element name="uncertaintyWeight" type="xs:double"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="logicTreeBranchSetType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="logicTreeBranch" type="nrml:logicTreeBranchType"></xs:element>
        </xs:sequence>
        <xs:attribute ref="nrml:uncertaintyType"></xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="logicTreeType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="logicTreeBranchSet" type="nrml:logicTreeBranchSetType"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="gmpeLogicTreeType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="logicTree" type="nrml:logicTreeType"></xs:element>
            <xs:element name="tectonicRegion" type="nrml:tectonicRegionType"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="logicTree" abstract="true"></xs:element>
    <xs:element name="sourceModelLogicTree" type="nrml:logicTreeType"
        substitutionGroup="nrml:logicTree"/>
    <xs:element name="gmpeLogicTree" type="nrml:gmpeLogicTreeType" substitutionGroup="nrml:logicTree"></xs:element>
    


</xs:schema>
